
doctype html
html(lang="en")

  head
    title=title
    link(rel="stylesheet", type="text/css", href="/styles/css/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="/styles/css/bootstrap-theme.min.css")
    link(rel="stylesheet", type="text/css", href="/styles/css/home.css")

  body.container

    //- header
    .row.header-wrapper 
      .col-md-2.col-md-offset-3
        img(src="/styles/images/author.png")
      .col-md-5
        img(src="/styles/images/slogon.png")

    //- post
    each post in posts
      .row.post-wrapper
        .col-md-8.col-md-offset-2.post
          header
            a.post-title(href="/dist/#{post.title}",style="color:#fff") #{post.title}
            .post-date.hidden-xs  #{post.date}
          section.col-md-10.col-md-offset-1
            p!= post.html
            span Tags:&nbsp;
            each tag in post.tags 
              a.label.label-primary(href="/tags/#{tag}", style="margin-right:5px;color:#fff") #{tag}
            
